@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*=============================
	01. Variable CSS start
===============================*/

:root {
  --bs-font-roboto: "Roboto", sans-serif;
  --bs-font-inter: "Inter", sans-serif;
  --bs-paragraph-color: #3B3B3B;
  --bs-body-font-size: 18px;
  --bs-body-font-weight: 400;
  --bs-transition: all 0.3s ease-out 0s;
}

/*=============================
	02. Common CSS start
===============================*/

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: var(--bs-font-roboto);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-paragraph-color);
  overflow-x: hidden;
}

a,
span,
small {
  display: inline-block;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: var(--bs-font-inter);
  color: #000;
}

h1 {
  font-size: 74px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: -1.48px;
}

h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -1.48px;
}

h3 {
  font-size: 44px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: -0.64px;
}

h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 36px;
}

h5 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
}

h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-paragraph-color);
  letter-spacing: -0.36px;
  margin: 0;
  padding: 0;
}


.placeholder {
    min-height: 1.2em !important;
}
.placeholder2 {
    min-height: .6em !important;
}